/** tag selectors **/
body{
    background-color: #EEEDDE;
    font-family: 'Roboto Serif', sans-serif;
}

/** class selectors **/
.upload {
    margin-top: 10%;
    text-align: center;
    padding: 10% 20%;

}
.main{
    padding: 5% 10%;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
}