/** tag selectors **/
body{
    background-color: #EEEDDE;
}

/** class selectors **/
.container {
    margin: auto;
    text-align: center;
}
  

.main{
    padding: 10% 20%;
    font-size: larger;
}

/** id selectors **/
#pdficon{
    color: #141E27;
}