{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="main">
    <a class="btn btn-dark" href="{{ url_for('upload_file') }}" role="button">Upload</a><br/><br/>
  </div>
  <div class="row">
    <table class="table table-sm">
      <tbody>
        {% for name in file_names %}
        <tr>
          <td><a href="{{ url_for('download_file', filename=name) }}" class="btn btn-sm btn-outline-dark">{{ name }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}